
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: #fc9b00;
}

section{
    display: flex;
}
.half-width{
    margin-top: 2rem;
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(50deg, orange, rgb(255, 5, 5), white);
    padding: 10px 40px;
    border-radius: 5px;

}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}