
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: #fc9b00;
}

.flex{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    margin-top: 2rem;
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(50deg, orange, rgb(255, 5, 5), white);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 600;

}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 1px;
    border-left: 7px solid tomato;
}
#baby-web{
    border-left: 7px solid blue;
}